<ion-header class="ion-no-border" >
  <ion-item lines="none">
    <ion-button (click)="mostrarPop($event)" fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <div class="ion-padding-start ion-padding-bottom">
      <ion-label>
        <h2>Audios de Whatsapp</h2>
      </ion-label>

      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-searchbar placeholder="Buscar" searchIcon="musical-notes"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-button color="light" fill="clear">
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
<br>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Item</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Unread</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-label>Item</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Unread</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>

<div class="ion-padding">
  <ion-badge class="ion-text-center" color="danger" mode="ios">CamiChaves</ion-badge>
</div>

