<ion-header class="ion-no-border" >
  <!-- <ion-item lines="none">
    <ion-button (click)="mostrarPop($event)" fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-item> -->
  <ion-item lines="none">
    <div class="ion-padding-top ion-padding-start ion-padding-bottom">
      <ion-label>
        <h2>Audios de Whatsapp SJ</h2>
      </ion-label>
      
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-searchbar mode="md" (keydown.enter)='buscar()' placeholder="Buscar" [(ngModel)]="textoBuscar"  color="light" searchIcon="musical-notes"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-button color="light" fill="clear" (click)="buscar()">
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="font-size: 0.6rem; text-align: center;"> Desliza el audio a la izquierda para compartir o descargar </p>
  <ion-img src="/assets/loading.gif" style="height:0px" ></ion-img>
  <ion-list >
    <ion-item-sliding *ngFor="let a of audiosBuscar">
      <ion-item class="claro">
        <ion-label>{{a.titulo}}</ion-label>
        <ion-badge *ngIf="a.explicit" color="danger" > explicit </ion-badge>
        <ion-badge *ngIf="!a.sanjuanino" > argentino </ion-badge>
        <ion-badge *ngIf="a.nuevo" color="success" > new </ion-badge>

        <ion-button *ngIf="!a.cargando" slot="end" color="dark" fill="clear" (click)="play(a)">
          <ion-icon *ngIf="!a.reproduciendo" slot="icon-only" name="play-outline"></ion-icon>
          <ion-icon *ngIf="a.reproduciendo" slot="icon-only"  name="pause-outline"></ion-icon>
        </ion-button>

        <ion-img *ngIf="a.cargando" slot="end" src="/assets/loading.gif" style="height: 40px;"></ion-img>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="Compartir(a)"><ion-icon  size="large"  name="share-social-outline"></ion-icon></ion-item-option>
        
        <ion-button class="downloadBtn" color="medium" >
          <a [href]="a.url" [download]="a.titulo" color="white">
            <ion-icon size="large" name="download-outline"></ion-icon>
          </a>
        </ion-button>
        
        
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-button color="dark" *ngIf="buscando" (click)="verTodos()" expand="full">Ver todos</ion-button>
 
  <div class="ion-padding ion-text-center divfinal" >
    Por alguna sugerencia, reclamo o si querés agregar un audio.
    <a href="https://www.instagram.com/guicasoftware/"> ¡Hablános!</a>
  </div>
</ion-content>  
<audio *ngIf="reproduciendo" controls="" autoplay=""  name="media" class="player">
  <source id="playerSource" [src]="audioSrc" type="audio/mpeg">
</audio>

