<ion-header class="ion-no-border" >
  <!-- <ion-item lines="none">
    <ion-button (click)="mostrarPop($event)" fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-item> -->
  <ion-item lines="none">
    <div class="ion-padding-top ion-padding-start ion-padding-bottom">
      <ion-label>
        <h2>Audios de Whatsapp SJ</h2>
      </ion-label>

      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-searchbar (keydown.enter)='buscar()' placeholder="Buscar" [(ngModel)]="textoBuscar"  searchIcon="musical-notes"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-button color="light" fill="clear" (click)="buscar()">
            <ion-icon slot="icon-only" name="search-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item-sliding *ngFor="let a of audiosBuscar">
      <ion-item class="claro">
        <ion-label>{{a.titulo}}</ion-label>
        <ion-button slot="end" color="dark" fill="clear" (click)="play(a)">
          <ion-icon *ngIf="!a.reproduciendo" slot="icon-only" name="play-outline"></ion-icon>
          <ion-icon *ngIf="a.reproduciendo" slot="icon-only"  name="pause-outline"></ion-icon>
        </ion-button>
        
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option (click)="Compartir(a)">Compartir</ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  <ion-button color="dark" *ngIf="buscando" (click)="verTodos()">Ver todos</ion-button>
  <div class="ion-padding ion-text-center divfinal" style="font-size: small;">
    Por alguna sugerencia, reclamo o si querés agregar un audio.
    <a href="https://www.instagram.com/guicasoftware/"> ¡Hablános!</a>
  </div>

</ion-content>  

